@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-cursor {
    &:hover {
        cursor: pointer;
    }
}